{% extends 'shop/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lk/lk.css' %}">
    <link rel="stylesheet" href="{% static 'lk/lk_address.css' %}">
{% endblock head %}
{% block title %}
    Личный кабинет
{% endblock title %}
{% block content %}
<section>

    <div class="included_sidebar">
        <div class="lk_breadcrumbs">
    {% include 'shop/parts/lk_breadcrumbs.html' %}<a>Адресная книга</a>
</div>
{% include 'shop/parts/lk_sidebar.html' %}
    </div>
<div class="lk_profile_data">
<h3>Мои адреса</h3>
<form action="" method="POST">
<div class="addresses_formset disappear">

    <select class="lk_profile_input" name="city">
        {% for city in cities %}
        <option class="lk_profile_input" value="{{ city.name }}">{{ city.name }}</option>
        {% endfor %}
    </select>
    <input class="lk_profile_input" name="number_of_house" placeholder="Номер дома" type="text">
    <input class="lk_profile_input" name="floor" placeholder="Этаж" type="text">
    <input class="lk_profile_input" name="flat" placeholder="Квартира" type="text">
<div><p id="cancel">Отменить</p><button id="add_address" type="submit">Добавить</button></div>
</div>
{% csrf_token %}
</form>
{% if customer.does_have_address %}
    <div class="address_list">
        {% for address in addresses %}
            <div class="address_item">
            <div class="address_item_name_row">
                {% csrf_token %}
                <p class="address_house">{{ address.house }}</p><i class="trash_bin" id="{{ address.pk }}">
                <svg version="1.1" id="trash_bin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="24px" height="24px" viewBox="0 0 64 64" fill="#8e979f" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
	<path d="M39,0H25c-1.104,0-2,0.896-2,2v6H10c-1.104,0-2,0.896-2,2s0.896,2,2,2h2v50c0,1.104,0.896,2,2,2h36c1.104,0,2-0.896,2-2V12
		h2c1.104,0,2-0.896,2-2s-0.896-2-2-2H41V2C41,0.896,40.104,0,39,0z M48,12v48H16V12H48z M27,8V4h10v4H27z"/>
	<path d="M26,56c1.104,0,2-0.896,2-2V20c0-1.104-0.896-2-2-2s-2,0.896-2,2v34C24,55.104,24.896,56,26,56z"/>
	<path d="M38,56c1.104,0,2-0.896,2-2V20c0-1.104-0.896-2-2-2s-2,0.896-2,2v34C36,55.104,36.896,56,38,56z"/>
</g>
</svg>
            </i>
                </div>
            <p class="address_etc">кв {{ address.flat }}, {{ address.floor }} этаж, {{ address.city }}</p>
            </div>

        {% endfor %}
    </div>
    <span class="lk_profile_add_address">Добавить новый адрес</span>
{% else %}
    <div class="addresses_empty">
    <p>У вас нет сохраненных адресов</p>
    <p class="lk_profile_add_address">Добавить новый адрес</p>
    </div>
{% endif %}

</div>
</section>
    <script>
        $('.lk_profile_add_address').click(function (){
            $('.addresses_formset').removeClass('disappear')
            $('.addresses_empty').addClass('disappear')
        })
        $('#cancel').click(function (){
            $('.addresses_formset').addClass('disappear')
            if (!$('.address_list').length){
                $('.addresses_empty').removeClass('disappear')
            }
        })
        $('.trash_bin').click(function (){
            $.ajax({
                type: 'POST',
                url: "{% url 'shop:delete_address' %}",
                data:{
                    address_id: $(this).attr('id'),
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                },
                success: function (response){
                    $('.address_item').find('#'+response.address_id).parent().parent().remove()
                }
            })
        })
    </script>
{% endblock content %}