body{
    background-color: #26272c;
}
.thread_section{
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.breadcrumbs_topic{
    display: flex;
}
.thread_author_post_headline{
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
    margin-bottom: 2px
}
.thread_author_post_headline, .comment_post{
    padding: 20px;
    border-radius: 4px;
    margin: 1px 0;
    background-color: #4f4f4f;
}
.post_headline{
    font-size: 30px;
    margin: 2vh 0;
    color: white;
}
.post_author_avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.post_author_nickname{
    margin-left: 1vh;
}
.post_author_humanized_date{
    margin-left: 1vh;
}
.post_author_line_num{
    display: flex;
    justify-content: space-between;
}
.post_author_date{
    display: flex;
}
.post_author_avatar_nickname{
    display: flex;
}
.post_stats{
    display: flex;
}



.comment{
    background-image: url("../img/comment.png");
    width: 20px;
    height: 20px;
    background-size: contain;
}
.comment_post{
display: flex;
}
.comment_post_author{
    display: flex;
    flex-direction: column;
}
.comment_post_avatar{
    width: 120px;
    height: 120px;
}

.comment_post_row{

}
.like_dislike_wrapper{
    display: flex;
}
.like_dislike_wrapper>div{
    display: flex;
    background-color: #3c3c3c;
    margin: 0 5px 0 0;
    padding: 5px;
    border-radius: 10%;
}
.like_dislike_wrapper>div:hover{
    cursor: pointer;
    background-color: #4f4f4f;
}
.like{
    border-bottom: 1px solid green;
}
.dislike{
    border-bottom: 1px solid red;
}
.like_dislike_wrapper>div>p{
    align-self: center;
    color: #9a9a9a;
}
.like_btn{
    background-image: url("../img/thumbs_up.png");
    width: 32px;
    height: 32px;
    background-size: contain;

}
.dislike_btn{
    background-image: url("../img/thumbs_down.png");
    width: 32px;
    height: 32px;
    background-size: contain;
}
