<div class="darken disappear"></div>
<div class="loupe_pop_up" style="display: none">
    <div class="loader"></div>
    <div id="carousel_loupe" class="splide">
  <div class="splide__track">
		<ul class="splide__list" id="list_of_slides">
			<li class="splide__slide img_slide">
				<img id="first_slide">
			</li>
{#			<li class="splide__slide">#}
{#				<img id="second_slide">#}
{#			</li>#}
		</ul>
  </div>
    </div>
    <div id="loupe_product_info" class="disappear">
        <h5 id="loupe_product_name"></h5>
        <div>
            <p>3 stars</p>
            <p id="loupe_product_reviews"></p>
        </div>
        <p id="loupe_product_price"></p>
        <p id="loupe_product_description"></p>
        <p id="loupe_product_add_to_cart"></p>
            <div>
                <div></div>
                <p>Добавить в список желаемого</p>
            </div>
        <p class="loupe_product_category">
            Категории: <span id="loupe_product_categories"></span>
        </p>
    </div>
</div>
<script>
{#  loader start  #}
    let loupe = $('.loupe')
    let loader = $('.loader')
    let loupe_modal = $('.loupe_pop_up')
    let darken = $('.darken')


    function make_modal_content(response){
        loader.addClass('disappear')
        $('#loupe_product_info').removeClass('disappear')
        $('#loupe_product_name').text(response.product.name)
        $('#first_slide').attr('src', response.product.image)
        if (response.product.image_on_hover !== null) {
            console.log('not null')
            $('#list_of_slides').append(
                $('li').addClass('splide__slide').append('img').attr('id', 'second_slide')
            )
            $('#second_slide').attr('src', response.product.image_on_hover)

            var splidick = new Splide('#carousel_loupe', {
                type: 'loop',
                perPage: 1,
                perMove: 1,
                pagination: false,
            });

            splidick.mount();
        }
        if (response.product.get_reviews_number !== 0){
            $('#loupe_product_reviews').text(response.product.get_reviews_number + ' Отзывов')
        }
        $('#loupe_product_price').text(response.product.price+ ' ₸')
        $('#loupe_product_description').text(response.product.description)
        $('#loupe_product_categories').text(response.product.get_product_categories)
        }

     function close_and_destroy(){

     }

    loupe.click(function (){
        $('.loupe_pop_up').toggle('disappear')
        $('.darken').removeClass('disappear')
        $.ajax({
            type: 'GET',
            url: "{% url 'api:get_product_info' %}",
            data:{
              product_pk: $(this).attr('id')
            },
            success: function (response){
                $('body').addClass('overflow_blocked')
                console.log(response.product)
                setTimeout(()=>make_modal_content(response), 650 )

            },
            error: function (){
                setTimeout(()=>loader.addClass('disappear'), 650 )
            }
        })

    })
  document.addEventListener("click", (e) => {
  const isClosest = e.target.closest('.loupe_pop_up');
  const isCreateButton = e.target.closest('.loupe');
  if (!isClosest && !isCreateButton) {
    if (!darken.hasClass('disappear')) {
        loupe_modal.toggle("disappear");
    }
    darken.addClass('disappear');
    setTimeout(()=>loader.removeClass('disappear'), 650 )  }
 });
</script>