
    <div class="darken disappear"></div>
<div class="loader disappear"></div>
<div id="quick_view_added" style="display: none">
</div>
{#<div class="loupe_pop_up" style="display: none">#}
{#    <div class="loader"></div>#}
{#    <div id="carousel_loupe" class="splide">#}
{#  <div class="splide__track">#}
{#		<ul class="splide__list" id="list_of_slides">#}
{#			<li class="splide__slide img_slide">#}
{#				<img id="first_slide">#}
{#			<li class="splide__slide">#}
{#				<img id="second_slide">#}
{#			</li>#}
{#		</ul>#}
{#  </div>#}
{#    </div>#}
{#    <div id="loupe_product_info" class="disappear">#}
{#        <h5 id="loupe_product_name"></h5>#}
{#        <div>#}
{#            <div class="loupe_rating" data-rating=""></div>#}
{#            <p id="loupe_product_reviews"></p>#}
{#        </div>#}
{#        <p id="loupe_product_price"></p>#}
{#        <p id="loupe_product_description"></p>#}
{#        <p id="loupe_product_add_to_cart"></p>#}
{#            <div>#}
{#                <div class="loupe_wishlist"></div>#}
{#                <p>Добавить в список желаемого</p>#}
{#            </div>#}
{#        <p class="loupe_product_category">#}
{#            Категории: <span id="loupe_product_categories"></span>#}
{#        </p>#}
{#    </div>#}
{#</div>#}
<script>
{#  loader start  #}
    let loupe = $('.loupe')
    let loader = $('.loader')
    let loupe_modal = $('#quick_view_added')
    let darken = $('.darken')


    function make_modal_content(response){

        $('#quick_view_added').html(
            '<div class="loupe_pop_up" style=""> \
    <div id="carousel_loupe" class="splide">\
  <div class="splide__track">\
		<ul class="splide__list" id="list_of_slides">\
			<li class="splide__slide img_slide">\
				<img id="first_slide">\
			</li>\
		</ul>\
  </div>\
    </div>\
    <div id="loupe_product_info" class="disappear">\
        <h5 id="loupe_product_name"></h5>\
        <div>\
            <div class="loupe_rating" data-rating=""></div>\
            <p id="loupe_product_reviews"></p>\
        </div>\
        <p id="loupe_product_price"></p>\
        <p id="loupe_product_description"></p>\
        <p id="loupe_product_add_to_cart"></p>\
            <div>\
                <div class="loupe_wishlist"></div>\
                <p>Добавить в список желаемого</p>\
            </div>\
        <p class="loupe_product_category">\
            Категории: <span id="loupe_product_categories"></span>\
        </p>\
    </div>\
</div>'
        )
        loader.addClass('disappear')
        darken.removeClass('disappear')
        console.log(response.product)
        if (response.wishlisted === true){
            $('.loupe_wishlist').addClass('heart_colored')
         }
        else{
            $('.loupe_wishlist').addClass('heart_default')
         }
        $('#loupe_product_info').removeClass('disappear')
        $('#loupe_product_name').text(response.product.name)
        $('#first_slide').attr('src', response.product.image)
        if (response.product.get_reviews_number !== 0){
            $('#loupe_product_reviews').text(response.product.get_reviews_number + ' Отзывов')
         }
        $('#loupe_product_price').text(response.product.price+ ' ₸')
        $('#loupe_product_description').text(response.product.description)
        let literal = ''
        for (let x=0; x<response.product.get_product_categories.length; x++){
            literal+=response.product.get_product_categories[x].name
            if (x+1 !== response.product.get_product_categories.length){
                literal += ', '
            }
         }
        $('#loupe_product_categories').text(literal)
        $('.loupe_rating').attr('data-rating', response.product.rating)
        $('.loupe_rating').starRating({
            totalStars: 5,
            starSize: 15,
            readOnly: true,
         })
        }

     function close_and_destroy(){
         darken.addClass('disappear')
         $('.loupe_pop_up').remove()
     }

    $('.loupe').on('click', function (){
        console.log('gotta open modal')
        $('#quick_view_added').toggle('disappear')
        $('.darken').removeClass('disappear')
        setTimeout(()=>loader.removeClass('disappear'), 350 )
        $.ajax({
            type: 'GET',
            url: "{% url 'api:get_product_info' %}",
            data:{
              product_pk: $(this).attr('id')
            },
            success: function (response){
                $('body').addClass('overflow_blocked')
                setTimeout(()=>make_modal_content(response), 1150 )

            },
            error: function (){
                setTimeout(()=>loader.addClass('disappear'), 650 )
            }
        })

    })
  document.addEventListener("click", (e) => {
  const modal = e.target.closest('.loupe_pop_up');
  const loupe_btn = e.target.closest('.loupe');
  console.log(e.target)
  if (!modal && !loupe_btn) {
    if (!darken.hasClass('disappear')) {
        console.log('loupe to open')
        loupe_modal.toggle("disappear");
    }

    setTimeout(close_and_destroy(), 650 )
   }
 });
</script>