*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#logo{
    background-image: url("../img/bg.png");
    width: 11vw;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.header_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    height: 10vh;
}
.upper_header_row{
    background-color: #415844;
    height: 5vh;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
}
.header_p{
    transition: 0.5s;
    font-size: 16px;
    width: max-content;
    font-weight: 600;
    align-self: center;
}
.header_p:hover{
    color: #ECCA7E;
    cursor: pointer;
}
.chevron_bottom_header{
    color: #ECCA7E;
}
.user_icon{
   background-image: url("../img/user_white.png");
    width: 32px;
    height: 32px;
}
.user_icon:hover{
        background-image: url("../img/user_yellow.png");
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.flex_icon_n_user{
    display: flex;
    width: fit-content;
}
.flex_icon_n_user:hover, .flex_icon_n_user:hover .user_icon{
    color: #e7bd5e;
    cursor: pointer;
}
.flex_icon_n_user:hover .user_icon{
        background-image: url("../img/user_yellow.png");
    width: 32px;
    height: 32px;
}
.modal_sign_in{
    position: absolute;
    z-index: 1;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 14vw;
    background-color: white;
    border: 2px solid;
    border-color: #e7bd5e white white white;
    padding: 15px;
}
.first_section_text>p{
    font-size: 17px;
    letter-spacing: 2px;
}
.label{
    margin-top: 2vh;
    font-size: 14px;
    color: #505050;
}
.first_section_text>a{
    font-size: 14px;
}
.login_section{
    display: flex;
    flex-direction: column;
}
#username_input, #password_input{
    width: 65%;
    padding: 15px;
    transition: 1s all;
    outline: 0;
    border: 1px solid #eaeaea;
}
.login_btn{
    font-weight: 600;
    color: white;
    letter-spacing: 3px;
    background-color: #ecca7e;
    text-align: center;
    padding: 15px 20px;
    margin-top: 2vh;
}
.login_btn:hover{
    cursor: pointer;
    background-color: #e7bd5e;
}
.forgot_password{
    margin-top: 1vh;
    font-size: 14px;
    align-self: flex-end;
    text-decoration: underline dotted;
}
.red_star{
    color: red;
    font-size: 19px;
}
.first_section_text{
    display: flex;
    justify-content: space-between;
}








footer{
    background-color: #292929;
}
.footer_p24{
    font-weight: 600;
    font-size: 24px;
    color: white;
}
.footer_p{
    color: #9A9A9A;
    font-weight: 500;
    line-height: 1.8;
}
.footer_p_headline{
    color: white;
    margin-bottom: 3vh;
    font-weight: 550;
}
.footer_first_block_wrapper{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
    margin: 5vh auto 0 auto;
    border-bottom: 1px solid #eaeaea24;

}
.footer_second_block_wrapper{
        width: 70%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
    margin: 5vh auto 0 auto;
    border-bottom: 1px solid #eaeaea24;
    justify-content: space-between;
}
.footer_flex_input{
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
}
.footer_input{
    margin: 0;
    width: 15vw;
    padding: 0;
    /*border: none;*/
    /*outline: none;*/
    flex: 1;
}
.footer_subscribe_button{
    text-align: center;
    align-self: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: #ECCA7E;
    margin: 0;
    padding: 20px;
    border: 2px;
    letter-spacing: 2px;
}
.footer_subscribe_button:hover{
    background-color: #e7bd5e;
    cursor: pointer;
}
.footer_flex_p{
    display: flex;
    flex-direction: column;

}
.footer_third_block_wrapper{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 10vh;
}
.papers_wrapper{
    display: flex;
    flex-direction: row;
}