*{
    padding: 0;
    margin: 0;
}
#logo{

}
.header_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    height: 10vh;
}
.upper_header_row{
    background-color: #415844;
    height: 5vh;
    color: white;
}
.header_p{
    font-size: 16px;
    width: max-content;
    font-weight: 650;
    align-self: center;
}
.header_p:hover{
    color: #ECCA7E;
}


footer{
    height: 35vh;
    background-color: #292929;
}