a{
    text-decoration: none;
    color: unset;
}
.product_track{
    width: 75%;
    margin: 3vh auto;
    padding: 1vh 0;
}
.product_list{

}
.star_and_btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1vh auto 0 auto;
}
.product_btns{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.heart_colored:hover, .heart_default:hover, .loupe:hover{
    cursor: pointer;
}
.heart_default{
    background-image: url("../img/heart_default.png");
    width: 16px;
    height: 16px;
    align-self: center;
    transition: all 1s;
}
.loupe:before, .heart:before{
  content: attr(data-hover);
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}
.heart_colored{
    background-image: url("../img/colored_heart.png");
    width: 16px;
    height: 16px;
    align-self: center;
    transition: all 1s;
}
.loupe{
    background-image: url("../img/loupe.png");
    width: 16px;
    height: 16px;
    align-self: center;
    background-size: contain;
    transition: 1s all;
}

/* Advantages */

.main_page_advantages{
    display: flex;
    width: 73%;
    margin: 0 auto;
    padding-bottom: 5vh;
}
.main_page_advantages_item:nth-child(2), .main_page_advantages_item:nth-child(3){
    border: 1px solid #eaeaea;
    border-top: none;
    border-bottom: none;
}
.main_page_advantages_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15vw;
    border: 1px solid transparent;
    padding: 0 25px;
}
.main_page_advantages_item>span{
    font-size: 16px;
    font-weight: 600;
}
.main_page_advantages_item>p{
    margin-top: 1vh;
    color: #9a9a9a;
}
.svg_item{
    width: 48px;
    height: 48px;
    transition: 0.3s all;
}
.svg_item_z{
        width: 64px;
    height: 64px;
        transition: 0.3s all;
}
.main_page_advantages_item>i{
    height: 8vh;
}
.main_page_advantages_item:hover .svg_item, .main_page_advantages_item:hover .svg_item_z{
transform: scale(1.2);
}