a{
    text-decoration: none;
    color: unset;
}
.product_track{
    width: 75%;
    margin: 3vh auto;
    padding: 1vh 0;
}
.product_list{

}
.star_and_btns{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.product_btns{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.heart_colored:hover, .heart_default:hover, .loupe:hover{
    cursor: pointer;
}
.heart_default{
    background-image: url("../img/heart_default.png");
    width: 16px;
    height: 16px;
    align-self: center;
    transition: all 1s;
}
.heart_colored{
    background-image: url("../img/colored_heart.png");
    width: 16px;
    height: 16px;
    align-self: center;
    transition: all 1s;
}
.loupe{
    background-image: url("../img/loupe.png");
    width: 16px;
    height: 16px;
    align-self: center;
    background-size: contain;
    transition: 1s all;
}