.loupe_pop_up{
    align-self: center;
    width: 100%;
    height: 100%;
    position: relative;
    /*box-shadow:0 0 0 1600px rgba(0,0,0,0.65);*/
    display: flex;

}
#quick_view_added{
    background-color: white;
    transition: visibility 1s ease-in;
        width: 1000px;
    height: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
        z-index: 5;
    top: 20%;
    display: flex;
}
.loader{
    background-image: url("../../gif/loader.gif");
    width: 64px;
    height: 64px;
    z-index: 6;
    align-self: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.overflow_blocked{
    overflow: hidden scroll;
}
.img_slide > img{
    width: 500px;
    height: 500px;
    background-size: cover;
}
#loupe_product_info{
    margin-left: 2vw;
}
.darken{
    width: 100%;
    top:0;
    height: 140vh;
    bottom: 0;
    position: absolute;
    background-color: black;
    opacity: 0.6;
    z-index: 4;
}
#carousel_loupe{
    width: 500px;
    visibility: visible !important;
}

#loupe_product_name{
    font-size: 30px;
}
#loupe_product_price{
    font-size: 20px;
    color: #415844;
    font-weight: bolder;
}