<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'shop/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% block head %}
{% endblock head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<header>
    <div class="upper_header_row">
        <div class="flex_icon_n_user">
            <div class="user_icon"></div>
            <p class="username_header"></p>
            {% if user.is_authenticated %}
            <p class="username_header actual">{{ user }}</p>
            {% else %}
            <a class="sign_in">Sign In / Register</a>
            {% endif %}
            <div class="modal_sign_in disappear">
                <div class="first_section_text">
                    <p>Вход</p>
                    <a href="{% url 'shop:register' %}">Создать аккаунт</a>
                </div>
                <div class="login_section">
                <label class="label">Имя пользователя <span class="red_star">*</span></label>
                <input required placeholder="Имя пользователя" type="text" id="username_input">
                    </div>
                <div class="login_section">
                <label class="label">Пароль <span class="red_star">*</span></label>
                <input required placeholder="Пароль" type="password" id="password_input">
                </div>
                {% csrf_token %}
                <p class="login_btn">ВОЙТИ</p>
                <a class="forgot_password">Забыли пароль?</a>
            </div>
        </div>
    {% if user.is_authenticated %}
        <a href="{% url 'shop:cart_detail' %}" style="align-self: center">
        <div class="cart_icon_block">
            <div class="bag"></div>
            <p>({% if cart %}{{ cart.total_products_in_cart }}){% endif %}</p>
        </div>
        </a>
    {% endif %}
    </div>
    <div class="header_row">
        <!-- Лого -->
        <a href="{% url 'shop:main_page' %}"><div id="logo"></div></a>

        <a class="header_p">Снаряжение <i class="chevron_bottom_header"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="12.847px" height="12.847px" viewBox="0 0 451.847 451.847"
	 xml:space="preserve">

	<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" fill="#ECCA7E"></path></svg>
</i></a>

        <a class="header_p">Для женщин <i class="chevron_bottom_header"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="12.847px" height="12.847px" viewBox="0 0 451.847 451.847"
	 xml:space="preserve">

	<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" fill="#ECCA7E"></path></svg>
</i></a>

        <a class="header_p">Для мужчин <i class="chevron_bottom_header"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="12.847px" height="12.847px" viewBox="0 0 451.847 451.847"
	 xml:space="preserve">

	<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" fill="#ECCA7E"></path></svg>
</i></a>

        <a class="header_p">Скидки</a>

        <a class="header_p">Блог <i class="chevron_bottom_header"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="12.847px" height="12.847px" viewBox="0 0 451.847 451.847"
	 xml:space="preserve">

	<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" fill="#ECCA7E"></path></svg>
</i></a>

        <a class="header_p">Контакты <i class="chevron_bottom_header"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="12.847px" height="12.847px" viewBox="0 0 451.847 451.847"
	 xml:space="preserve">

	<path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
		c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
		c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" fill="#ECCA7E"></path></svg>
</i></a>

        <a class="header_p"></a>

        <a class="header_p"></a>

        <!-- Поиск -->
        <div></div>
    </div>
</header>
{% block content %}
{% endblock content %}
<footer>
<div>
    <div class="footer_first_block_wrapper">
        <div class="footer_flex_p">
            <p class="footer_p24">Sign up for great offers & exclusive content
</p>
            <p class="footer_p">Receive exclusive offers and news that will brighten up your day!
</p>
        </div>
        <div class="footer_flex_input">
        <input class="footer_input" placeholder="Email">
        <button class="footer_subscribe_button">SUBSCRIBE ></button>
            </div>
    </div>
    <div class="footer_second_block_wrapper">
        <div>
            <p class="footer_p_headline">INFORMATION</p>
            <div>
                <p class="footer_p">About Us</p>
                <p class="footer_p">Our Guarantee</p>
                <p class="footer_p">Customer Service</p>
                <p class="footer_p">Privacy Policy</p>
                <p class="footer_p">Return Policy</p>
                <p class="footer_p">Become an Affiliate</p>
            </div>
        </div>
        <div>  <p class="footer_p_headline">SHOP</p>
            <div>
                <p class="footer_p">Women's</p>
                <p class="footer_p">Men's</p>
                <p class="footer_p">Kid's</p>
                <p class="footer_p">Footwear</p>
                <p class="footer_p">Equipment</p>
                <p class="footer_p">By activity</p>
            </div></div>
        <div>  <p class="footer_p_headline">HELP</p>
            <div>
                <p class="footer_p">Live chat</p>
                <p class="footer_p">Help center</p>
                <p class="footer_p">Order Status</p>
                <p class="footer_p">Size Chart</p>
                <p class="footer_p">Returns & Warranty</p>
            </div></div>
        <div>  <p class="footer_p_headline">DISCOVER</p>
            <div>
                <p class="footer_p">Parkas</p>
                <p class="footer_p">Coats</p>
                <p class="footer_p">Ski Jackets</p>
                <p class="footer_p">Women's Boots</p>
                <p class="footer_p">Men's Boots</p>
                <p class="footer_p">Toddler Jackets</p>
            </div></div>
        <div>  <p class="footer_p_headline">STORE LOCATOR</p>
            <div>
                <p>2972 Westheimer Rd. Santa Ana,
Illinois 85486, USA</p>
            </div>
            <div>
                <p>Call Us – 1-800-123-4567  support@example.com</p>
            </div>
        </div>
    </div>
    <div class="footer_third_block_wrapper">
        <p>Copyright 2022 Atiti</p>
        <div class="papers_wrapper">
            <p>Terms of policy</p>
            <p>Copyright issues</p>
            <p>Cookies</p>
        </div>
        <div>
            <p>We accept</p>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</footer>
<script>
    sign_in_btn = $('.login_btn');
    modal_btn = $('.flex_icon_n_user');

    if ($('.username_header').hasClass('actual')){
      $('.flex_icon_n_user').click(function (){
      window.location.href = '/lk/'
    })
    }
    else{
        modal_btn.click(function (){
        $('.modal_sign_in').removeClass('disappear');
    })
    }
  document.addEventListener("click", (e) => {
      const isClosest = e.target.closest('.modal_sign_in');
      console.log(isClosest)
      const isCreateButton = e.target.closest('.flex_icon_n_user');
      if (!isClosest && !isCreateButton) {
        $('.modal_sign_in').addClass('disappear');
         }
 });

    sign_in_btn.click(function (){
        let login = $('#username_input').val()
        let password = $('#password_input').val()
        $.ajax({
            type: 'POST',
            url: "{% url 'shop:login' %}",
            data:{
                username: login,
                password: password,
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            },
            success: function(response){
                $('.sign_in').hide()
              $('.username_header').text(response.username)
            }
        })
    })
</script>
</body>
</html>