{% extends 'shop/base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/splide-4.1.3/dist/js/splide.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/splide-4.1.3/dist/css/splide.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/main.css' %}">
    <link rel="stylesheet" href="{% static 'shop/product.css' %}">
{% endblock head %}
{% block title %}
    PREP KZ
{% endblock title %}
{% block content %}

<section class="splide">
  <div class="splide__track product_track">
		<ul class="splide__list product_list">
            {% for product in products %}
			<li class="splide__slide product_item">
                <img class="product_image" src="{{ product.image.url }}">
                {% if product.image_on_hover %}
                <div class="second_img_wrapper"><img class="product_image_on_hover" src="{{ product.image_on_hover.url }}">
                    </div>
                {% endif %}
                <p class="product_categories">{% for category in product.get_product_categories.all %}{% if forloop.counter0 > 0  %}, {% endif %}<a href="{{ category.get_absolute_url }}">{{ category }}</a>{% endfor %}</p>
                <p class="product_name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>

                <div class="star_and_btns">
                    <div>5</div>
                    <div class="product_btns disappear">
                        <div class="heart_default" id="{{ product.pk }}"></div>
                        <div class="loupe"></div>
                    </div>
                </div>

                <div class="price_and_add_to_cart_flex">
                    <p class="product_price">{{ product.price }} ₸</p>
                    <p class="product_add_to_cart_btn"><span class="plus_symbol">+</span> В КОРЗИНУ</p>
                </div>
            </li>
            {% endfor %}
		</ul>
  </div>
</section>

    <script>
  var splide = new Splide( '.splide', {
  type   : 'loop',
  perPage: 5,
  perMove: 1,
} );

splide.mount();
$( document ).ready(function() {
   let product_item = $('.product_item');
    product_item.hover(function(){
        let plus_symbol = $(this).find($('.plus_symbol'))
        let second_image= $(this).find($('.product_image_on_hover'))
        $(this).find($('.product_btns')).removeClass('disappear')
        if (second_image.length){
             $(this).find($('.product_image')).addClass('disappear')
        second_image.addClass('product_image_on_hover_active')
        }
        plus_symbol.addClass('symbol_hovered');

    },
    function (){
        let plus_symbol = $(this).find($('.plus_symbol'))
        let second_image= $(this).find($('.product_image_on_hover'))
        $(this).find($('.product_btns')).addClass('disappear')
        $(this).find($('.product_image')).removeClass('disappear')
        second_image.removeClass('product_image_on_hover_active')
        plus_symbol.removeClass('symbol_hovered');
    }
    )
});
$('.heart_default').click(function (){
    $.ajax({
        type: 'POST',
        url: "{% url 'shop:add_to_wishlist' %}",
        data:
            {
                product_id: $(this).attr('id')
            },
        success: function (){

        }
    })
})


    </script>
{% endblock content %}

