.lk_profile_data>h3{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 2vh;
    letter-spacing: 1px;
}
.lk_profile_data>p{
    color: rgb(92 102 110);
    margin-top: 3vh;
    font-weight: 400;
    padding-bottom: 3vh;
}
.lk_profile_add_address{
    background-color: #ecca7e;
    color: white;
    padding: 15px 40px;
    border-radius: 12px;
    margin-top: 3vh;
}
.lk_profile_add_address:hover{
    cursor: pointer;
    background-color: #e7bd5e;
}
.addresses_formset{
    display: flex;
    flex-wrap: wrap;
}
.addresses_formset>input{
    width: 35%;
}
.addresses_formset>select{
    height: 4.5vh;
}
.address_list{
    display: flex;
}
.address_item{
    border: 1px solid #eaeaea;
    width: max-content;
    padding: 15px;
    display: flex;
    margin-top: 2vh;
    max-width: 30%;
    flex-direction: column;
    box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
}
.trash_bin:hover #trash_bin{
    fill: #606971;
    cursor: pointer;
}
.trash_bin{
    align-self: center;
}
.address_item_name_row{
    display: flex;
    justify-content: space-between;
}
.address_item_name_row>p{
    font-weight: bolder;
    padding-bottom: 1vh;
}
.address_etc{
    color: #9a9a9a;
}