{% extends 'forum/forum_base.html' %}
{% load tz %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'forum/forum_main.css' %}">
{% endblock head %}
{% block title %}
    Главная форума
{% endblock title %}
{% block content %}
    <section class="forum_body">
        <div class="main_forum_block">
        <div class="front_block">
            <p>Форум посвященный PREP KZ</p>
        </div>
        {% load humanizing_date %}
        <div>
            {% for topic in topics %}
                <div class="topic_item">
                <div class="topic_left_side">
                <i class="topic_image"></i>
                    <p>{{ topic.title }}</p>
                    </div>
                    <div class="topic_right_side">
                    <div>
                        <i class="pencil">
                        </i>
                        <p>{{ topic.total_posts }}</p>
                    </div>
                    <div>
                        <i class="comment">

                        </i>
                        <p>{{ topic.counted_total_comments }}</p>
                    </div>
                        <div>
                            <img src="{{ topic.last_post.author.avatar_thumbnail.url }}">
                            <div>
                                <p>{{ topic.last_post.name }}</p>
                                <p>{{ topic.last_post.author }} <span>{% humanizing request topic.last_post.date  %}</span></p>
                            </div>
                        </div>
                </div>
                </div>
            {% endfor %}
        </div>
        </div>

        <div class="forum_subblock">
            {% if not user.is_authenticated %}
            <div class="login_block">
            <p>Авторизация</p>
            <input placeholder="Логин">
            <input placeholder="Пароль">
            <p>
                <div>
                <p>Забыли пароль?</p><p>Зарегистрироваться</p>
            </div>
            </p>
            </div>
            {% endif %}
            <div class="relevant_posts">
                <p>Последние сообщения</p>
                {% for latest in latest_comment %}
                    <div class="latest_post_item">
                    <div></div>
                    <div><p class="latest_post_name">{{ latest.post.name }}</p><p class="latest_post_author">{{ latest.author }} - {{ latest.date }}</p></div>
                    <div></div>
                    </div>
                {% endfor %}
            </div>
            <div class="forum_stats">
                <p>Статистика форума</p>
                <div class="forum_stats_text"><p>Темы:</p><p>{{ total_posts }}</p></div>
                <div class="forum_stats_text"><p>Сообщения:</p><p>{{ total_comments }}</p></div>
                <div class="forum_stats_text"><p>Пользователи:</p><p>{{ total_users }}</p></div>
            </div>
        </div>
    </section>
{% endblock content %}