{% extends 'forum/forum_base.html' %}
{% block head %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tiny.cloud/1/1aub2fra26v0pjhe6ra0de6egt98fnmfiby43teo6qikfwoe/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{% static 'forum/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'forum/parts/pagination.css' %}">
        <link rel="stylesheet" href="{% static 'forum/parts/report.css' %}">

{% endblock head %}
{% block title %}
{% endblock title %}
{% block content %}
    {% load humanizing_date %}
    <section class="thread_section">
    <div class="thread_author_post_headline">
          <div class="breadcrumbs_topic">
                <a href="{% url 'forum:forum_main' %}">Форум</a><a href="{{ topic.get_absolute_url }}"> > {{ topic.title }}</a>
            </div>
        <p class="post_headline">{{ post.name }}</p>
        <div class="post_author_line_num">
            <div class="post_author_date">
                <div class="post_author_avatar_nickname"><img class="post_author_avatar" src="{{ post.author.avatar.url }}"><p class="post_author_nickname">{{ post.author }}</p></div>
                <div class="post_author_humanized_date">{% humanizing request post.date %}</div>
            </div>
            <div class="post_stats">
                <div style="display: flex;"><i></i>{{ post.get_views }}</div>
                <div style="display: flex"><i class="comment"></i>{{ post.count_comments }}</div>
            </div>
        </div>
    </div>
    <div class="comment_post">
        <div class="comment_post_author">
            <p>{{ post.author }}</p>
            {% if post.author.is_admin %}
            <a class="comment_author_admin">Администратор</a>
            {% elif post.author.is_banned %}
            <a class="comment_author_banned">Забанен</a>
            {% else %}
            <a class="comment_author_usual">Пользователь</a>
            {% endif %}
        <img class="comment_post_avatar" src="{{ post.author.avatar.url }}">
        <p>Дата регистрации: 2022:12:12</p>
        <p>Сообщения: 24325</p>
        </div>
        <div class="comment_post_content">
            <p>{% humanizing request post.date %}</p>
            <div>{{ post.content|safe }}</div>
            <div class="comment_post_row"></div>
        </div>
    <i class="report_reveal" id="{{ post.pk }}_post">
    </i>
        {% include 'forum/parts/report.html' %}
    </div>
    {% for comment in page_obj %}
        <div class="comment_post">
        <div class="comment_post_author">
            <p>{{ comment.author }}</p>
            {% if comment.author.is_admin %}
            <a class="comment_author_admin">Администратор</a>
            {% elif comment.author.is_banned %}
            <a class="comment_author_banned">Забанен</a>
            {% else %}
            <a class="comment_author_usual">Пользователь</a>
            {% endif %}
        <img class="comment_post_avatar" src="{{ comment.author.avatar.url }}">
        <p>Дата регистрации: 2022:12:12</p>
        <p>Сообщения: 24325</p>
        </div>
        <div class="comment_post_content">
            <p>{% humanizing request post.date %}</p>
            <div>{{ comment.content|safe }}</div>
            <div class="comment_post_row">
                <div class="like_dislike_wrapper">
                    <div class="like" data-comment="{{ comment.pk }}"><i class="like_btn"></i><p id="liked{{ comment.pk }}">{{ comment.count_likes }}</p></div>
                    <div class="dislike" data-comment="{{ comment.pk }}"><i class="dislike_btn"></i><p id="disliked{{ comment.pk }}">{{ comment.count_dislikes }}</p></div>
                    {% csrf_token %}
                </div>
            </div>
              <i class="report_reveal" id="{{ comment.pk }}_comment">
    </i>
        </div>
    </div>
    {% endfor %}
        {% if page_obj.has_other_pages %}
        {% include 'forum/parts/pagination.html' %}
    {% endif %}
    <div>
       <form action="{% url 'forum:new_comment' post %}" method="post">
    {{ form.content }}
            {% csrf_token %}
                        <button type="submit">qwe</button>

</form>    </div>
    </section>
    {% include 'forum/parts/report.html' %}
    <script>
$( document ).ready(function() {
     tinymce.init({
  selector: 'textarea',
  plugins: 'image media link',
  statusbar: false,
  menubar: false,
  toolbar: 'undo redo | link image |  bold italic alignleft aligncenter alignright bullist numlist outdent indent blockquote media fontsizeselect',
  /* enable title field in the Image dialog*/
  image_title: false,
  /* enable automatic uploads of images represented by blob or data URIs*/
  automatic_uploads: true,
  /*
    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: 'postAcceptor.php',
    here we add custom filepicker only to Image dialog
  */
  file_picker_types: 'image',
  /* and here's our custom image picker*/
  file_picker_callback: function (cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    /*
      Note: In modern browsers input[type="file"] is functional without
      even adding it to the DOM, but that might not be the case in some older
      or quirky browsers like IE, so you might want to add it to the DOM
      just in case, and visually hide it. And do not forget do remove it
      once you do not need it anymore.
    */

    input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
 });

    $('.like').click(function (){
        console.log('like')
        $.ajax({
            type: 'POST',
            url: "{% url 'forum:like' post.pk %}",
            data:{
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                comment_pk: $(this).attr('data-comment'),

            },
            success: function (response){
                if (response.liked === true){
                    if (response.default === 'already'){

                    }
                    else{
                    $('#liked'+response.comment_pk).text(parseInt($('#liked'+response.comment_pk).text())+1)
                    if (response.default === 'from dislike'){
                        $('#disliked'+response.comment_pk).text(parseInt($('#disliked'+response.comment_pk).text())-1)
                    }
                }
                }
            }
        })
    })
    $('.dislike').click(function (){
        $.ajax({
            type: 'POST',
            url: "{% url 'forum:dislike' post.pk %}",
            data:{
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                comment_pk: $(this).attr('data-comment')
            },
            success: function (response){
                    if (response.disliked === true){
                        if (response.default === 'already'){

                        }
                        else {
                            $('#disliked'+response.comment_pk).text(parseInt($('#disliked'+response.comment_pk).text()) + 1)
                            if (response.default === 'from like') {
                                $('#liked'+response.comment_pk).text(parseInt($('#liked'+response.comment_pk).text()) - 1)
                            }
                        }
                }
            }
        })
    })

});
$('.report_reveal').click(function (){
    let id_of_item = $(this).attr('id')
    console.log(id_of_item)
    $('.report').removeClass('invisible')
    $('#submit_report').click(function (){

        $.ajax({
            type: 'POST',
            url: "{% url 'forum:submit_report' post.pk %}",
            data:{
                report: id_of_item,
                body: $('.report_input').val(),
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            },
            success: function (){

            }
        })
    })
})
    </script>
{% endblock content %}