{% extends 'forum/forum_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'forum/topic.css' %}">
{% endblock head %}
{% block title %}
    {{ topic.title }}
{% endblock title %}
{% block content %}
    {% load humanizing_date %}
    <section class="main_topic_block">
        <div>
            <div class="breadcrumbs_topic">
                <a href="{% url 'forum:forum_main' %}">Форум</a><p> > {{ topic.title }}</p>
            </div>
            <div class="title_topic_create_post">
           <h3 class="topic_title">{{ topic.title }}</h3><a href="{% url 'forum:create_topic' topic %}">Создать тему</a>
            </div>
        </div>
    <div class="topic_posts_wrapper">
        <div>

        </div>
        <div class="post_items_wrapper">
            {% for post in topic.get_posts %}
                 <div class="post_item">
                 <div class="post_author">
                    <img src="{{ post.author.avatar.url }}" class="author_avatar">
                    <div>
                        <p class="post_name">{{ post.name }}</p>
                        <p class="post_author_name">{{ post.author }} <span>{% humanizing request post.date %}</span></p>
                        </div>
                     <i class="pinned"></i>
                     <i class="closed"></i>
                 </div>
                 <div class="post_stats">
                     <p>Сообщений: <span>{{ post.count_comments }}</span></p>
                     <p>Просмотров: <span>{{ post.views }}</span></p>
                 </div>
                 <div class="last_comment">
                     {% if post.latest_comment %}
                    <img class="author_avatar" src="{{ post.latest_comment.author.avatar.url }}">
                     <div>
                         <p>{{ post.latest_comment.author }}</p><p>
                         {% humanizing request post.latest_comment.date %}</p>
                     </div>
                     {% endif %}
                 </div>
                 </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock content %}