{% extends 'forum/forum_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'forum/topic.css' %}">
        <link rel="stylesheet" href="{% static 'forum/parts/pagination.css' %}">
{% endblock head %}
{% block title %}
    {{ topic.title }}
{% endblock title %}
{% block content %}
    {% load humanizing_date %}
    <section class="main_topic_block">
        <div>
            <div class="breadcrumbs_topic">
                <a href="{% url 'forum:forum_main' %}">Форум</a><p> > {{ topic.title }}</p>
            </div>
            <div class="title_topic_create_post">
           <h3 class="topic_title">{{ topic.title }}</h3><a href="{% url 'forum:create_post' topic %}">Создать тему</a>
            </div>
        </div>
    <div class="topic_posts_wrapper">
        <div>

        </div>
        <div class="post_items_wrapper">
            {% for post in page_obj %}
                 <div class="post_item">
                 <div class="post_author">
                    <img src="{{ post.author.avatar.url }}" class="author_avatar">
                    <div>
                        <a class="post_name" href="{{ post.get_absolute_url }}">{{ post.name }}</a>
                        <p class="post_author_name">{{ post.author }} <span>{% humanizing request post.date %}</span></p>
                        </div>
                     <i class="pinned"></i>
                     <i class="closed"></i>
                 </div>
                 <div class="post_stats">
                     <p>Сообщений: <span>{{ post.count_comments }}</span></p>
                     <p>Просмотров: <span>{{ post.get_views }}</span></p>
                 </div>
                 <div class="last_comment">
                     {% if post.latest_comment %}
                    <img class="author_avatar" src="{{ post.latest_comment.author.avatar.url }}">
                     <div>
                         <p>{{ post.latest_comment.author }}</p><p>
                         {% humanizing request post.latest_comment.date %}</p>
                     </div>
                     {% else %}
                         <img class="author_avatar" src="{{ post.author.avatar.url }}">
                     <div>
                         <p>{{ post.author }}</p><p>
                         {% humanizing request post.date %}</p>
                     </div>
                     {% endif %}
                 </div>
                 </div>
            {% endfor %}
        </div>
    {% if page_obj.has_other_pages %}
{% include 'forum/parts/pagination.html' %}
    {% endif %}
    </div>
    </section>
{% endblock content %}